.card-container {
    border: 2px solid #ccc;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
  
    &.customDropShadow {
      box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
    }
  }
  