.podcast-view {
  display: flex;
  gap: 20px;
  padding: 20px;

    .podcast-view__sidebar{
      padding-top: 20px;
    }
  
    &__title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 15px;
    }
  
    &__description {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 20px;
      color: #555;
    }
  
    &__audio {
      width: 100%;
      margin-top: 15px;
      border: none;
    }
  }
  