.principal-view {
  padding: 1rem;

  .principal-view__list {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;

    &--few-results {
      justify-content: center;
      grid-template-columns: repeat(auto-fit, minmax(350px, max-content));
    }

    & > div {
      text-align: center;
    }
  }

  &__loading {
    text-align: center;
    font-size: 1.25rem;
    color: #666;
  }

  &__error {
    text-align: center;
    color: red;
    font-size: 1rem;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__count {
    background-color: #1e3a8a;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
  }

  &__search {
    flex-grow: 0;
    width: 20rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 1rem;
    outline: none;

    &:focus {
      border-color: #0366d6;
      box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    }
  }
}
